        h1 {color: white;
            text-align: center;
            font-family: verdana;           
            font-size:48;           
            }
        h2 {color: white;
            text-align: center;
            font-family: verdana;           
            font-size:48;           
            }
        p {color: black;
            text-align: center;
            font-family: verdana;           
            font-size:50;
            }
        a {color: deeporange;
            font-family:monospace;
            font-size:10;
            }
        img {display: block;  
           margin-left: auto;  
           margin-right: auto;
            }
        div {border-radius: 25px;
            background: white;
            padding: 20px;
            width: 400px;
            height: auto;
            margin: auto;
            text-align: center;
            }
